__pycache__/
*/__pycache__
*keep_idxs.pyc
tmp_*/

core.*
*.blend
*.mtl
*.obj

*.sw*

dist-packages/

mano/models/.DS_Store
mano/models/MANO_RIGHT.pkl
mano/models/MANO_RIGHT_v0.pkl
mano/models/MANO_LEFT_v0.pkl
mano/models/MANO_LEFT_v1.pkl
mano/models/basicModel_m_lbs_10_207_0_v1.0.2.fbx
mano/models/SMPLH_male.pkl
mano/models/SMPLH_female.pkl

assets/textures/bodywithands
assets/models/.DS_Store
assets/models/MANO_RIGHT.pkl
assets/models/MANO_RIGHT_v0.pkl
assets/models/MANO_LEFT_v0.pkl
assets/models/MANO_LEFT_v1.pkl
assets/models/MANO_LEFT.pkl
assets/models/MANO_RIGHT.pkl
assets/models/basicModel_m_lbs_10_207_0_v1.0.2.fbx
assets/models/basicModel_f_lbs_10_207_0_v1.0.2.fbx
assets/models/SMPLH_male.pkl
assets/models/SMPLH_female.pkl

assets/textures/bodywithands
assets/textures/bodywithands.zip
assets/grasps/shapenet_grasps
assets/SURREAL

misc/
data/
results/
psb/
tmp/
generated/


psb
psb_v1.tar.gz
tmp/
*.lprof
*.png
